h1 {
    color: mediumpurple;
    display: flex;
    justify-content: center;
}

body {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: center;
    background-color: pink;
    padding: 30px;
    margin: 10px 30px;
    border-radius: 40px;
}

#post-title {
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
}

#date {
    border-bottom: 0;
    padding-right: 10px;
}

#text {
    float: left;
    max-width: 75%;
    padding-left: 5px;
}

#more-blogs {
    flex: 50%;
    float: right;
    max-width: 20%;
    padding-left: 10px;
}

#first {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: darkseagreen;
    width: 65%;
    height: 20px;
    border-radius: 20px;
}

#second {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: lightskyblue;
    width: 65%;
    height: 20px;
    border-radius: 20px;
}

#third {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: palevioletred;
    width: 65%;
    height: 20px;
    border-radius: 20px;
}